body {
    background-color: black;
    color: #edebe9;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 10px;
}

thead {
  position: sticky;
  top: 0;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 3px;
}

.selected_row {
  color: red;
}

tr:nth-child(odd) {
  background-color: black;
}

tr:nth-child(even) {
  /* https://html-color.codes/black */
  background-color: #2f4f4f;
}

/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
.row {
  display: flex;
}
.column {
  flex: 25%;
  /* width: 25%; */
  margin: 5px;
}
